@page "/"
@using UIBlazorFramework.Web.Components

<div class="row">
    <div class="col-12">
        <h1>Components</h1>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h1>Select</h1>
            </div>

            <div class="col-12 form-group">
                <label><strong>Simple Select</strong></label>
                <UISelect></UISelect>
            </div>
            <div class="col-12 form-group">
                <label>Teste</label>
            </div>
        </div>
    </div>
</div>