@page "/"
@using UIBlazorFramework.Web.Components
@using UIBlazorFramework.Model.Entities 

<div class="row">
    <div class="col-12">
        <h1>Components</h1>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h1>Select</h1>
            </div>

            <div class="col-12 form-group">
                <label><strong>Simple Select</strong></label>
                <UISelect TData="OptionItem" 
                          Data="SelectData" 
                          ValueField="(x=> x.Value)" 
                          TextField="(x=> x.Text)"
                          @bind-SelectedItem="SelectedItem">
                </UISelect>
                <span class="mt-1">@SelectedItem?.Value - @SelectedItem?.Text</span>
            </div>
            <div class="col-12 form-group">
                <label>Teste</label>
            </div>
        </div>
    </div>
</div>